<%= form_for @motion, url: motion_path(@motion) do |f| %>

<%= render partial: 'form', locals: {f: f} %>
<div class="btn-group" role="group">
	<%= f.submit '更新', {class: 'btn btn-default'} %>
	<%= link_to '取消', motions_path, class: 'btn btn-default' %>
</div>

<% end %>