<%= form_for @dailyreport, url: dailyreport_path(@dailyreport) do |f| %>

<%= render partial: 'form', locals: {f: f} %>
<div class="btn-group" role="group">
	<%= f.submit '更新', {class: 'btn btn-default'} %>
	<%= link_to '取消', dailyreports_path, class: 'btn btn-default' %>
</div>

<% end %>